SUPABASE_URL=https://dyryscneoazdbwxqqqrk.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR5cnlzY25lb2F6ZGJ3eHFxcXJrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTk4MTY5MCwiZXhwIjoyMDg3NTU3NjkwfQ.K6dPf319lpTLrH9WzeJbGTj27BjyRb9Ab0drNWik9JY
GEMINI_API_KEY=AIzaSyDKiDB512f7EUDeMk-pntdh25gDdj7Cta8
